colorama==0.4.6
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
Safe-Evaluator @ git+https://github.com/KrisV123/Safe-Evaluator.git@23a39e5a4a4eaa22bcbcc7b34393848eeaf8f003
